* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
section {
    padding: 50px;
    margin: 50px;
    background-color: #d0d0d0;
    border-radius: 3px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.szoveg{
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.szabalyokimg{
    width: 500px;
    height: 125px;
}
.szabalyok{
    align-self: right;
    width: 300px;
    height: 75px;
    float:left ;
}
button {
    padding: 15px 20px;
    background-color: #a1a1a1;
    color: #f17171;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
div.scroll-container img {
    padding: 10px;
  }
.logo{
    width: 90px;
    float: left;
    padding-right: 15px;
}